<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="fixedliquidlayout.css" type="text/css">
    <title>Document</title>
</head>

<body>
    <header class="cf">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Apple_logo_grey.svg" alt="apple">
        <section>
            <h1>Howard Alexander</h1>
            <p>Designer at BitLayouts</p>
        </section>
    </header>
    <article>
        <h2>About</h2>
        <p class="margina">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, dicta deleniti esse repellat
            provident, sit
            omnis sunt obcaecati eveniet exercitationem ab, quo totam assumenda quos! Magni fugiat ullam reprehenderit?
            Ut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore explicabo corrupti, quam aperiam
            pariatur ullam quis, dignissimos doloremque tempore odit neque necessitatibus temporibus excepturi
            exercitationem iusto. Ducimus eveniet possimus. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Illo blanditiis corrupti totam architecto itaque laudantium possimus, consequuntur unde! Ullam rem nihil
            quaerat eveniet corporis. Id quas animi blanditiis tempore magnam.</p>
    </article>
    <div class="cf">
        <article>
            <section class="border">
                <h2>Post No 2</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, dicta deleniti esse repellat
                    provident,
                    sit
                    omnis sunt obcaecati eveniet exercitationem ab, quo totam assumenda quos! Magni fugiat ullam
                    reprehenderit?
                    Ut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore explicabo corrupti, quam aperiam
                    pariatur ullam quis, dignissimos doloremque tempore odit neque necessitatibus temporibus excepturi
                    exercitationem iusto. Ducimus eveniet possimus. Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit.
                    Illo blanditiis corrupti totam architecto itaque laudantium possimus, consequuntur unde! Ullam rem
                    nihil
                    quaerat eveniet corporis. Id quas animi blanditiis tempore magnam.</p>
            </section>
            <section class="border">
                <h2>Post No 1</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, dicta deleniti esse repellat
                    provident,
                    sit
                    omnis sunt obcaecati eveniet exercitationem ab, quo totam assumenda quos! Magni fugiat ullam
                    reprehenderit?
                    Ut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore explicabo corrupti, quam aperiam
                    pariatur ullam quis, dignissimos doloremque tempore odit neque necessitatibus temporibus excepturi
                    exercitationem iusto. Ducimus eveniet possimus. Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit.
                    Illo blanditiis corrupti totam architecto itaque laudantium possimus, consequuntur unde! Ullam rem
                    nihil
                    quaerat eveniet corporis. Id quas animi blanditiis tempore magnam.</p>
            </section>
        </article>
    </div>

</body>

</html>