<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="float.css" type="text/css">
    <title>Document</title>
</head>

<body>
    <div class="sve">
        <ul class="cf">
            <li>Blog</li>
            <li>Contact</li>
            <li>About</li>
            <li>Home</li>
        </ul>
        <img src="LOGO.png" alt="Logo" class="fotka">
        <div class="red"></div>
        <div class="blue"></div>
        <div class="linkovi">
            <ul>
                <li><a href="https://slack.com/intl/en-rs/">Rebuilding slack.com</a></li>
                <li><a href="https://www.bgit.rs/blog/zasto-bootcamp-format/">Zasto Bootcamp format?</a></li>
                <li><a href="https://www.bgit.rs/blog/react-prozor-u-svet-web-aplikacija/">React prozor u svet web
                        aplikacija</a></li>
                <li><a href="https://www.netokracija.rs/najvece-zablude-o-programerima-134757">Najvece zablude o
                        programerima u
                        Srbiji</a></li>
                <li class="bezbordera"></li>
            </ul>
        </div>

        <p class="paragraf1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ad iure, ea impedit rem autem sapiente labore voluptate magni ut fuga, dolor quibusdam alias sequi eligendi optio omnis illo nobis?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maiores asperiores officia, doloremque temporibus aut amet maxime necessitatibus numquam eveniet laboriosam modi velit vel deserunt mollitia dolores distinctio sunt doloribus incidunt.</p>
        <p class="paragraf2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ad iure, ea impedit rem autem sapiente labore voluptate magni ut fuga, dolor quibusdam alias sequi eligendi optio omnis illo nobis?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maiores asperiores officia, doloremque temporibus aut amet maxime necessitatibus numquam eveniet laboriosam modi velit vel deserunt mollitia dolores distinctio sunt doloribus incidunt.</p>
        <div class="yellow"></div>
        <div class="green"></div>
        <div class="redI"></div>
        <p class="paragraf1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ad iure, ea impedit rem autem sapiente labore voluptate magni ut fuga, dolor quibusdam alias sequi eligendi optio omnis illo nobis?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maiores asperiores officia, doloremque temporibus aut amet maxime necessitatibus numquam eveniet laboriosam modi velit vel deserunt mollitia dolores distinctio sunt doloribus incidunt.</p>
        <p class="paragraf2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ad iure, ea impedit rem autem sapiente labore voluptate magni ut fuga, dolor quibusdam alias sequi eligendi optio omnis illo nobis?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maiores asperiores officia, doloremque temporibus aut amet maxime necessitatibus numquam eveniet laboriosam modi velit vel deserunt mollitia dolores distinctio sunt doloribus incidunt.</p>
        <p class="paragraf3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ad iure, ea impedit rem autem sapiente labore voluptate magni ut fuga, dolor quibusdam alias sequi eligendi optio omnis illo nobis?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maiores asperiores officia, doloremque temporibus aut amet maxime necessitatibus numquam eveniet laboriosam modi velit vel deserunt mollitia dolores distinctio sunt doloribus incidunt.</p>
        <div class="blueI"></div>
        <div class="yellowI"></div>
        <div class="green"></div>
        <p class="paragraf1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ad iure, ea impedit rem autem sapiente labore voluptate magni ut fuga, dolor quibusdam alias sequi eligendi optio omnis illo nobis?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maiores asperiores officia, doloremque temporibus aut amet maxime necessitatibus numquam eveniet laboriosam modi velit vel deserunt mollitia dolores distinctio sunt doloribus incidunt.</p>
        <p class="paragraf2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ad iure, ea impedit rem autem sapiente labore voluptate magni ut fuga, dolor quibusdam alias sequi eligendi optio omnis illo nobis?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maiores asperiores officia, doloremque temporibus aut amet maxime necessitatibus numquam eveniet laboriosam modi velit vel deserunt mollitia dolores distinctio sunt doloribus incidunt.</p>
        <p class="paragraf3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ad iure, ea impedit rem autem sapiente labore voluptate magni ut fuga, dolor quibusdam alias sequi eligendi optio omnis illo nobis?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Maiores asperiores officia, doloremque temporibus aut amet maxime necessitatibus numquam eveniet laboriosam modi velit vel deserunt mollitia dolores distinctio sunt doloribus incidunt.</p>
    </div>
    <div class="bit">
        <p> &copy; BitStudent </p>
    </div>

</body>

</html>