.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.prva img {
    height: 200px;
    float: right;
}

.druga img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.treca img {
    width: 200px;
    height: 200px;
    float: left;
}