<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=p, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./layout.css">
    <title>Document</title>
</head>

<body>
    <ul id="main">
        <li id="home">Home</li>
        <li>Menu 1</li>
        <li id="menu2">Menu 2
            <ul id="sub">
                <li>Sub Menu 1</li>
                <li>Sub Menu 2</li>
                <li>Sub Menu 3</li>
            </ul>
        </li>
        <li>Menu 3</li>
    </ul>


</body>

</html>