
.bgcolor1 {
    background-color: white;
}
.bgcolor2 {
    background-color: red;
}
.bgcolor3 {
    background-color: blue;
}

div {
    border: solid 1px black;
}
.bgcolor4 {
    background-color: aquamarine;
}

